/* .container {
  width: 640px;
  margin: auto;
  margin-top: 150px;
  background: #fff;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
} */
.container hr {
  height: 2px;
  border: none;
  background: #767676;
}
.container h2 {
  font-size: 27px;
  font-weight: 400;
}
.container ul li{
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container ul li:hover {
  background-color: #f1f1f1;
}
/* .container button {
  margin: auto;
  width: 250px;
  height: 65px;
  background: #599af0;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
} */
/* .index {
  margin: auto;
  font-size: 18px;
} */
.container .correct {
  background: #dffff2;
  border-color: #00d397;
}
.container .wrong{
  background: #FFEBEB;
  border-color: #FF4A4A;
}

@media (max-width: 600px) {
  .container {
    width: 350px;
    height: 850px;
    margin: auto;
    margin-top: 30px;
  }


}