@tailwind base;
@tailwind components;
@tailwind utilities;
   
*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: radial-gradient(at center, #39B982, #5063CD);
  font-family: "Oswald", sans-serif;
}